.widget-title h3 { display: inline-block; position: relative;}
.zIndex2 { z-index: 2;  }
.font-weight-500 { font-weight: 500; }
.font-weight-700 { font-weight: 700; }
.font-weight-900 { font-weight: 900; }
.font-weight-400 { font-weight: 400; }
.show { display: block!important;}
ol.m {list-style-type: lower-latin;}
.overflow-h {overflow: hidden;}
.flex-c { display: flex;
    flex-direction: column;
    justify-content: center; }
/*== HEADER CSS START ==*/
.header.sticky { background-color: var(--white-col); }
.header .header-absolute .mobile__dv a {
    color: var(--text-dark); background-color: var(--bg-yellow);
    font-size: 1.2rem;
    padding: 10px 40px;
    padding-right: 10px;
    border-radius: 15px;
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.programs__item .image-box img{
    width: 100%;
}
.header .header-absolute .mobile__dv a span {
    background-color: var(--text-dark); color: var(--bg-yellow); border: 1px solid var(--bg-yellow);
    padding: 5px;
    width: 40px;
    height: 40px;
    line-height: 32px;
    border-radius: 2rem;
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 4px;
    text-align: center;
}

.logo img { height: 4rem; }

/*== BANNER CSS START ==*/
.dsu-form { width: 100%; background: #444444; mix-blend-mode: multiply; opacity: 0.9; border-radius: 5px; position: relative; z-index: 1; margin: 0 auto;
 margin: 0rem 0rem; }
.frmBg { position: relative; text-align: center;}
.applyBox {  margin: 2.5rem 0; width: 22rem; float: right; text-align: center; }
.contact_fild { padding: 0rem 1rem 1rem;}
.contact-fild-box .form-control, 
.contact-fild-box .form-select { display: block;
    width: 100%; height: auto; padding: 12px 12px; font-size: 14px; margin-bottom: 0.5rem; color: var(--white-col); background-color: transparent; border: 1px solid var(--white-col); border-radius: 0px; 
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form-group { margin-bottom: 0px;}
.btn_submit { background: linear-gradient(180deg, #FEC52D 2.71%, #FE9E2D 55.31%); color: var(--text-dark); font-size: 20px; width: 100%; border-radius: 2rem; padding: 10px 2rem; font-weight: 700; }
.btn_submit:hover {background-color: var(--bg-yellow); color: var(--text-dark);}
.contact-fild-box { margin-bottom: 10px; position: relative;}
.contact-fild-box.text-center { margin-bottom: 0px;}
.dsu-addmission { margin-top: 35%; display: block; padding: 0px;}
.formIDfid { padding: 0 0px; }
.contact-fild-box .form-control option { color: #000; }
.dsu-addmission .content_bnr-flex h1 { font-size: 1.5rem; color: var(--text-dark); padding: 0.5rem 1rem; border-radius: 0.5rem; display: inline-block; background-color: var(--bg-yellow); }
.dsu-addmission .content_bnr-flex .certiBx { background-color: #444444; font-size: 1.6rem; padding: 0.8rem 1rem; display: table; border-radius: 0.5rem;  }
.loction { background: rgba(0, 0, 0, 0.2); border: 1px solid var(--bg-yellow); border-radius: 1rem; padding: 0.8rem 1rem; line-height: 1.2; width: 79%; }
.contact-fild-box .form-select { filter: brightness(0) invert(1);}
.contact-fild-box .form-select option { color: #000;}

.content_bnr-flex span { background-color: #FFFFFF; padding: 0.8rem 1rem; display: inline-block; border-radius: 2rem; }
/*== BANNER CSS end ==*/
.gradient { background-image: linear-gradient(to bottom, #facc15, #efbb0f, #e3aa0a, #d79a06, #ca8a04); }
.text-bg { color: #fec52d; }


.partner-section .partner__logo { position: relative; margin: 0.3rem; background-color: var(--white-col); padding: 0.5rem; border-radius: 10px; width: 23%; border: 1px solid var(--text-dark); }
.future-certificate { border: 2px solid var(--white-col); border-radius: 1.2rem; padding: 1rem;}
.future-certificate img { border-radius: 1.2rem; }
.bnrThub { position: absolute; left: 38%; bottom: -1rem;}
.rank-section { background-color: #F4F4F4;}
.rank-section .rank__item { padding: 0.6rem; margin: 0 1rem; overflow: hidden; border-radius: 1rem; position: relative; text-align: center; border: 2px dashed #000; }
/* .rank-section .rank__item:hover { background-color: var(--bg-yellow); box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;  } */
.rank-section .rank__item:after { position: absolute; content: ""; background-color: var(--bg-yellow); right: 0; top: 0; width: 50%; height: 100%; z-index: -1; } 
.bg-grey { background-color: var(--bg-grey);}

.rank-section .rank__item img {margin-bottom: 0.8rem; background-color: var(--white-col); border: 1px solid var(--bg-blue); border-radius: 5px;}

.eligib-section { background-image: url(../images/banner.webp); background-size: 100%; background-position: center center; background-repeat: no-repeat; }



.electives__item { background-color: #F4F4F4; padding: 1.2rem; border-radius: 0.6rem; height: 340px;}
.electives__item:hover { background-color: var(--bg-yellow);}

.elig_dv ul li:after { position: absolute; content: ""; background-image: url(../images/shapes.svg); background-repeat: no-repeat; left: 0; width: 40px; height: 40px; top: 15px;}
.elig_dv ul li { position: relative; font-size: 1rem; line-height: 1.4; padding: 1rem 0; color: var(--white-col); padding-left: 3.5rem; display: flex; flex-direction: column; justify-content: center;}
.digitally-one__counter-single .plus { top: 16px; position: relative;}
.digitally-one__counter-single .odometer, 
.digitally-one__counter-single .plus { font-size: 4rem; color: var(--text-dark);}  
.digitally-one__counter-single p { font-size: 1.2rem;  padding: 0.5rem 0; background-color: var(--bg-grey); color: var(--bg-yellow);}
.jain_section .col-lg-3:last-child:after { background-color: transparent;}
.jain_section .col-lg-3:after { position: absolute; content: ""; right: 0; top: 0; background-color: var(--bg-blue); width: 1px; height: 100%; opacity: 0.3; }
.jain_section .rank__item {position: relative; overflow: hidden; border-radius: 0.5rem; border: 3px solid transparent; }
.jain_section .col-lg-2:nth-child(even) .rank__item { background-color: #f3f4f9; }
.jain_section .rank__item:hover {  border: 3px solid var(--bg-yellow); box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.jain_section .rank__item:hover p { background: linear-gradient(180deg, #FEC52D 2.71%, #FE9E2D 55.31%); color: var(--text-dark);}

.online__section .online__item .icon_svg svg { height: 40px; width: 100%; }
.online__section .online__item .icon_svg {  background-color: #FFFFFF; width: 70px; height: 70px; border-radius: 100%; }
.online__section .online__item { display: flex; align-items: center; padding: 1rem;  }
.online__section .online__item h5 { color: var(--white-col); width: 70%; font-size: 1.1rem; line-height: 1.4; margin-left: 1rem;}
.online__section .owl-item:last-child .online__item { border: 0;}
.online__section .online__item:hover { background-color: var(--bg-yellow);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}
.online__section .online__item:hover h5 { color: var(--bg-blue);}
.recruiters-section .recruiters-item .recruiters-logo {
    position: relative;
    padding: 1rem;
    width: 100%;
    display: block;
    overflow: hidden;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .recruiters-section .recruiters-item:nth-child(5n) .recruiters-logo {
    border-right: 0px solid var(--bg-yellow);
  }
  
  .recruiters-section .recruiters-item .recruiters-logo:last-child { border-bottom: 0px solid var(--bg-yellow); }
  .recruiters-section .recruiters-btn_sec:after { position: absolute; width: 2px; height: 100%; content:""; background-color: #FFF; right:0; z-index: 1; top:0; }
   
.offeredbxawd-content { background-color: var(--bg-blue); border-radius: 1.3rem; text-align: center; padding: 1.2rem; height: 235px;}
.offeredbxawd-content p { color: var(--white-col); font-size: 14px; line-height: 1.4; }
.persure-section .persure__item .persure__content { padding: 1rem; height: 100px;}
.persure-section .persure__item:hover { background-color: var(--bg-yellow);}
.persure-section .persure__item h5 { font-size: 1.1rem;}
.persure-section .persure__item  { position: relative; overflow: hidden; border-radius: 1rem;}
  .placements-section .placements__item:hover:after { background-color: var(--bg-yellow);  }
  .placements-section .placements__item:after { position: absolute; content: ""; width: 100%; height: 70%; bottom: 0; left: 0; background-color: #eff0fa; z-index:-1; border-radius: 0.5rem }
  .programs__item .title h3 { font-size: 1.5rem;}
  .programs__item .title  { padding: 0 0; margin-top: 1rem; }
  .programs__item .title p { padding: 0.2rem 0; color: var(--text-dark); font-size: 13px; }
  .programs__item { background-color: #FFFFFF; border-radius: 1rem; margin: 1rem 0.5rem; overflow: hidden; min-height: 350px; }
  .programs__item .radius2 { border-radius: 1rem; }
  .programs__item .image-box .heading { 
      text-align: center;
      width: 50%; margin: 0 auto 2rem; margin-top: -15px;
      background-color: var(--bg-yellow);
      color: var(--text-dark);
      padding: 0.5rem 0;}
  .programs__one .programs__item:hover .heading { background-color: var(--bg-yellow); color: var(--text-dark);}
  .programs__one .programs__item:hover { border: 2px solid var(--bg-yellow);}
  .programs__one .programs__item:hover .title h3 { color: var(--bg-yellow);}
  .programs__one .programs__item { border: 2px solid transparent;}
  .programs__one .programs__item:hover:after {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      z-index: -1;
      visibility: visible;
      opacity: 1;
      height: 100%;
  }
  .programs__one .programs__item .eli__dv.durRight:after { position: absolute; content: ""; width: 1px; height: 100%; background-color: var(--text-dark); top: 0; left: 0; }
  .programs__one .programs__item .eli__dv.durRight { position: relative; padding-left: 2rem;}
  .programs__one .programs__item .eli__dv p { font-size: 1.1rem;}  
  .nav-tabs { border-bottom: transparent;}

.tabs_list { padding: 0; margin: 0 0 0px; font-size: 1.2rem; font-weight: 500; justify-content: center; }
.tabs_list li .nav-link { padding: 0.8rem 10px;  border-radius: 2rem; font-weight: 500;  width: 212px; color: var(--text-dark); border: 2px solid rgba(0, 0, 0, 0.3); text-align: center; }
.tabs_list li { background-color: #f9f9f9; border-radius: 0;  cursor: pointer; margin: 0 0.3rem; }
    
.tabs_list li .nav-link.active, .tabs_list li .nav-link:hover { color: var(--text-dark) !important; border-color: var(--bg-yellow); background-color: var(--bg-yellow);}
.mani_logo { background-color: var(--white-col); border-radius: 1rem; font-weight: 700; border: 2px solid rgba(0, 0, 0, 0.2); padding: 0.2rem; width: 170px; margin-left: auto; margin-right: auto; position: relative; margin-top: -2.5rem; margin-bottom: 1rem; }      

.amenities__section.process-section { background-image: none; background-color: #f3f3f3; }
/*== Footer css start ==*/
.footer { font-size: 14px; } 
.desktop { display: block;}
.mobile { display: none;}
ul.listing li:last-child { border: 0 }
ul.listing li { position: relative; color: var(--bg-blue); padding: 0.8rem 0; font-size: var(--font); padding-left: 1.6rem; border-bottom: 1px solid rgba(0, 0, 0, 0.1); line-height: 1.5; }
ul.listing li:after { position: absolute; left: 0px; top: 14px; font-family: 'Font Awesome 5 Pro'; content: "\f14a"; color: var(--bg-blue); }

.blog-text > a {
    background-color: var(--text-dark);
    color: var(--white-col);  border-radius: 30px; overflow: hidden;
    display: block; text-align: center; font-weight: 500;
    line-height: 1;
    padding: 0.8rem 0;
    position: relative;
    text-transform: capitalize;
    transform: perspective(1px) translateZ(0px);
    transition: color 0.3s ease 0s;
    vertical-align: middle;
    display: block;
    font-size: 1rem; width: 60%; margin: 0 auto;
}

.blog-text >a:hover{color:var(--text-dark);}
.blog-text>a::before {
    border-radius: 30px;
    background-color: var(--bg-yellow);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 50% 0 0;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    z-index: -1;
}
.blog-text>a:hover::before {
    transform: scaleY(1);
}
.owl-theme .owl-nav [class*=owl-]:hover {background-color: var(--text-dark) !important; color: var(--white-col)!important;}
.owl-theme .owl-nav [class*=owl-] { background-color: var(--white-col) !important; color: var(--text-dark)!important;  font-size: 1.2rem !important; border-radius: 100% !important; width: 2rem !important; height: 2rem !important; line-height: 1.5rem !important; }

.owl-theme .owl-dots .owl-dot span {
    background: #94A3B8 !important;
    margin: 5px 2px !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--bg-yellow) !important;
    width: 30px !important;
}
.eff{-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
.eff:hover {     box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -moz-transform: translateY(5px);
}

.hover:hover .icon_svg, .partners__item:hover  .icon_svg { -o-transition: .9s;
    -ms-transition: .9s;
    -moz-transition: .9s;
    -webkit-transition: .9s;
    transition: .9s;
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -moz--transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);}

.elig_section { border: 1px solid var(--bg-red);}
.elig_section .eli-ab span.text-dark { position: absolute;}
    .elig_section:after {
        position: absolute;
        width: 32%;
        height: 100%;
        content: "";
        left: 0;
        top: 0;
        background-color: var(--bg-red);
        clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
    } 
.poten_item { color: #001C54; font-size: 1.2rem; margin-top: 0.8rem; }    
.poten_item svg { width: 45px; margin-right: 0.8rem;}
.poten_item svg path { fill: #001C54;}

.development-section .development_flex .partners__item { 
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.partners__item:hover .facilities_flex .icon__choice { background-color: var(--bg-yellow); border-color: var(--bg-yellow); }
.partners__item .facilities_flex { margin: 2rem 0;}

.facilities_flex {
    display: flex;
    align-content: center;
    align-items: center;
}


.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.development-section .facilities_flex h5 {
    width: 55%;
    font-size: 1.2rem;
    margin-left: 1rem;
    line-height: 1.4;
}

.facilities__section .partners__item .icon__choice svg {
    width: 100%;
}
.amenities__section.process-section .amenities__item .amenities__icon { background-color: #444444; border: 0;}
.amenities__section.process-section .amenities__item .amenities__icon h5 { background-image: linear-gradient(to bottom, #facc15, #efbb0f, #e3aa0a, #d79a06, #ca8a04);  -webkit-background-clip: text; background-clip: text;  -webkit-text-fill-color: transparent; font-size: 3rem; font-weight: 700; }
.amenities__section.process-section .amenities__item:hover .amenities__icon {  background-image: linear-gradient(to bottom, #facc15, #efbb0f, #e3aa0a, #d79a06, #ca8a04);  }
.amenities__section.process-section .amenities__item:hover .amenities__icon h5 { background-image: linear-gradient(to bottom, #444444, #444444, #444444, #444444, #444444);}

.amenities__section.process-section .amenities__relative .pro_border { border: 1px dashed #444444; position: absolute; top: 35%; left: 110px; width: 80%;}

.amenities__section, .persure-section { background-image: url(../images/jnBg.png); background-size: 100%; background-repeat: no-repeat; background-position: center center; background-color: #f2f2f2; }
.amenities__section .amenities__item { margin-top: 1.8rem; padding: 0 2rem; }
.amenities__section .amenities__item:hover .amenities__icon { background-color: var(--bg-yellow); border-color: var(--white-col);  }
.amenities__section .amenities__item .amenities__icon svg { width: 100%;}

.amenities__section .amenities__item .amenities__icon { background-color: var(--white-col); border: 3px solid var(--bg-yellow); padding: 0.5rem; margin-bottom: 1rem; width: 120px; height: 120px; border-radius: 100%; margin-left: auto; margin-right: auto; position: relative; z-index: 2; }
.amenities__section .amenities__item:hover h6 { color: var(--bg-yellow);}

.amenities__section .amenities__item .process-icon_eff { position: absolute; top: 25%; left: 0;}
.amenities__section .amenities__item .process-icon_eff-rt { position: absolute; top: 25%; right: 0;}

.students__section .students__item { border: 1px solid var(--text-dark); padding: 3.5rem; border-radius: 1rem; margin: 1rem; }
.aheadTestimonial .img-outer img {
    width: 82px;
    height: 82px;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 100px;
}


 .facilities__section .exposure__block .blog-text a { padding-top: 1.2rem; padding-bottom: 1.2rem; background-image: linear-gradient(to bottom, #facc15, #efbb0f, #e3aa0a, #d79a06, #ca8a04); color: var(--text-dark); font-weight: 700;}
.facilities__section .partners__item h5 { font-size: 1.2rem; font-weight: 600;}
.facilities__section .partners__item { padding: 1.5rem; margin: 1rem; border-radius: 1rem; border: 1px solid var(--text-dark); background-color: var(--white-col); min-height: 200px; }
.facilities__section .partners__item .icon__choice svg { width: 100%; }
.facilities__section .partners__item:hover { background-color: var(--text-dark); border: 2px solid var(--bg-yellow) }
.facilities__section .partners__item:hover .icon__choice svg path { fill: var(--white-col);}
.facilities__section .partners__item:hover h5 { color: var(--white-col); }

.facilities__section .partners__item:hover .icon__choice {
    -o-transition: .9s;
    -ms-transition: .9s;
    -moz-transition: .9s;
    -webkit-transition: .9s;
    transition: .9s;
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -moz--transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

